@import url(./section-title/section-title.css);
@import url(./section-subtitle/section-subtitle.css);
@import url(./table/table.css);
@import url(./__triangle/kaufman__triangle.css);

.kaufman {

    position: relative;
    background-color: #1f1f1f;
    padding: 90px 0 90px;
    overflow: hidden;
    z-index: 1;
}
